g.node {
    cursor: pointer;
}
g.not-selected circle {
    fill-opacity: 0.3;
    stroke-opacity: 0.3;
}
g.not-selected text {
    opacity: 0.3;
}
g.selected circle {
    /*
    stroke-width: 4px;
    stroke: red;
    */
}
g.connected circle {
    fill-opacity: 1;
}
g.narrated circle {
    stroke-width: 2px;
    /*stroke:  url(#highlight);*/
    stroke: black;
}
text.label.hidden, line.link.hidden {
    display: none;
}
g.selected text {
}
line.link {
    stroke: #aaa;
    opacity: 0.7;
}
#graph {
    width: 577px;
    height: 507px;
    border: 1px dotted #ababab;
    position: relative;
}
#slider-wrapper {
    float: right;
    margin-right: 40px;
    position: absolute;
    top: -3000px;
}
#play {
    display: inline-block;
    width: 20%;
    text-align: center;
}
#play button:hover {
    cursor: pointer;
}

#play button {
    border:0;
    font-family: "Open Sans";
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5FA9EE), to(#5F91D3));
    background-image: -webkit-linear-gradient(top, #5FA9EE, #5F91D3); 
    background-image:    -moz-linear-gradient(top, #5FA9EE, #5F91D3);
    background-image:     -ms-linear-gradient(top, #5FA9EE, #5F91D3);
    background-image:      -o-linear-gradient(top, #5FA9EE, #5F91D3);
    background-image:         linear-gradient(top, #5FA9EE, #5F91D3);
    border-radius: 3px;
    padding: 0.1em 1em 0.2em;
    color: #eee;
    margin-top: 0;
    margin-bottom: 0.3em;
    width: 60%;
}
#play button.playing {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, to(#5FA9EE), from(#689ADD));
    background-image: -webkit-linear-gradient(top, #689ADD, #5FA9EE); 
    background-image:    -moz-linear-gradient(top, #689ADD, #5FA9EE);
    background-image:     -ms-linear-gradient(top, #689ADD, #5FA9EE);
    background-image:      -o-linear-gradient(top, #689ADD, #5FA9EE);
    background-image:         linear-gradient(top, #689ADD, #5FA9EE);
}

#histogram {
    white-space: nowrap;
    padding: 0;
    margin: 0;
}
#histogram .bar-wrap {
    display: inline-block;
    margin: 0;
    position: relative;
    cursor: pointer;
}
#histogram .bar-wrap:hover {
    background-color: #F3E5B7;
}
#histogram .bar {
    background-color: #9B9C77;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#histogram .bar.highlight {
    background-color: orange;
}
#frame-info {
    font-size: 0.9em;
}
#frame-info p {
    max-height: 407px;
    overflow-y: auto;
    padding-right: 0.3em;
}
#node-info {
    font-size: 0.75em;
}
#node-info dt {
    font-weight: bold;
}
#node-info dd {
    margin: 0 0 0.6em 2em;
}
#node-narrative p {
    margin: 0 0 2em 0;
}
#node-name {
    margin-bottom: 1em;
    font-weight: bold;
}
#dialog-modal {
    font-size: 0.8em;
    line-height: 1.7em;
    padding: 1.7em 3em;
}
#zoom-slider {
    height: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}
#zoom-level {
    position: absolute;
    color: #A0A0A0;
    right: 0.1em;
    bottom: 0;
    font-size: 0.75em;
}
